<div id="header">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="">Dairy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Bevreges</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Light drinks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Sweets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Fruits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Vegtables</a>
  </li>
 
</ul>
<hr>
</div>

<div id="showCards">
<div class="card">

    <div class="card card-block col-xl-3 col-md-4" *ngFor="let product of products">
      <img src="{{ product.path }}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{ product.name }}<br> {{ product.price }}₪</p>
        <button type="button" class="btn btn-info">add to cart</button>
      </div>
    </div>
  </div>
</div>
 